@import '../../assets/styles/variables';

.navbar {
  display: flex;
  gap: $spacing-large;

  a {
    font-size: 1rem;
    font-weight: 500;
    color: $color-text;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

    &.active,
    &:hover {
      color: $color-primary;
      border-bottom-color: $color-accent;
    }
  }
}
