@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-primary;
  background-color: $color-background;
  color: $color-text;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color $transition-speed;
}

img {
  max-width: 100%;
  display: block;
}
